@each $fontVariant in $fontVariants {
	.fs-#{$fontVariant} {
		@include pxtorem($fontVariant);
	}
}

@for $h from 1 through 6 {
	h#{$h} {
		font-family: $headerFonts;
		color: $black;
	}
}

.bold {
	font-weight: 700;
}

.semi-bold {
	font-weight: 600;
}